.grid-container {
    background-color: #6fbeff;
    padding: 10px;
    justify-items: center;
    
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.815);
    border: 2px solid rgba(255, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

body{
    background-color: aliceblue;
}

.boton{
    margin-top: 10px;
    padding: 10px;
    font-size: 30px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(38, 0, 255);
    color: whitesmoke;
}

.boton:hover{
    color: rgb(0, 26, 255);
    background-color: whitesmoke;
}

table{
    margin-left: auto;
    margin-right: auto;
}